.input-focus:focus {
    border-color: #0077cc; /* Replace with COLORS.primary */
    box-shadow: 0 0 0 3px rgba(0, 119, 204, 0.25); /* Replace with parsed COLORS.primary */
  }


button.analyze-button:hover {
    background-color: rgba(0, 204, 255, 0.1);
    box-shadow: 0 0 10px rgba(0, 204, 255, 0.3);
  }

.analyze-button:hover {
background-color: rgba(0, 119, 204, 0.1);
}

button.details-button:hover {
    background-color: rgba(0, 119, 204, 0.1);
    box-shadow: 0 0 10px rgba(0, 119, 204, 0.3);
  }

.vulnerability-row:hover {
  background-color: rgba(0, 119, 204, 0.1) !important;
}